- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    %a.btn.btn-primary.btn-lg{href: omniauth_authorize_path(resource_name, provider), role: "button"} Sign In With Spotify
    %br/
