.jumbotron
  %h1 Your pretty awesome!
  %p ...
  %p click below to go listen to your playlist.
  %a.btn.btn-success.btn-lg{:href => "#{@playlist_url}", :role => "button", target: "_blank"} Open Playlist
.jumbotron
  %h1 or if you want to be really awesome!
  %p ...
  %p click here to hire a great Rails developer!
  %a.btn.btn-success.btn-lg{:href => "https://github.com/taylormartin", :role => "button", target: "_blank"} I Need a Rails Dev
