%h3 Click below to select artists

%form{:action => "playlist/select", :method => "post", :name => "search_form"}
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %table
    %tr
      %td
        %label{:for => "city"} City
      %td
        %input{:name => "city", :type => "text", :value => 'Atlanta' }
    %tr
      %td
        %label{:for => "start_date"} Start Date
      %td
        %input{:name => "start_date", :type => "date"}
    %tr
      %td
        %label{:for => "end_date"} End Date
      %td
        %input{:name => "end_date", :type => "date"}
    %tr
      %td
        %input{:type => "submit", :value => "Submit"}

-#TODO: need to add more cities to the drop down menu
-#TODO: add peoples spotify pictures to the application
-#TODO: need to deal with multiple pages of events
-#TODO: artists that aren't in the spotify library shouldn't show up
