%h3 Select the artists you want in your playlist and click the submit button

%form{action: playlist_generate_path, method: "post", name: "artists"}
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %input{type: "submit", value: "Submit"}
  %br
  %br
  - for i in 0..(@artists.count-1)
    .well.well-sm
      %input{name: "artists[]", type: "checkbox", value: "#{@artists[i][:artist]}"}
        %span.artist #{@artists[i][:artist]}
        %span.venue @ #{@artists[i][:venue]}
        %br
        %br
      %button{type: 'button'}=link_to 'Songkick', @artists[i][:uri], target: "_blank"
      %button.artist{type: 'button', value: @artists[i][:artist]} Listen


-#TODO: add links to each bands website or spotify profile
-#TODO: could show a table that has the venue, date, and songkick profile link for each artist
-#TODO: location search API: http://api.songkick.com/api/3.0/search/locations.json?query={location}&apikey={api-key}

:javascript
  $(function(){

    $('.artist').click(
      function(){
        var clicked = $(this);
        var string = clicked.val();
        var artist = string.replace(" ", "+");
        $.getJSON("https://api.spotify.com/v1/search?q=" + artist + "&type=artist",
        function(response){
          if (response.artists.total === 0) {
            alert("No results found");
          }
          else {
            var artist_id = response.artists.items[0].id;
            $.getJSON("https://api.spotify.com/v1/artists/" + artist_id + "/top-tracks?country=US",
            function(response){
              var song_id = response.tracks[0].id;
              clicked.hide();
              clicked.parent().append('<br><br><iframe src="https://embed.spotify.com/?uri=spotify:track:' + song_id + '" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>');
            })
          }
        })
      });

    });
